h1{
    font-size: 30px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: example;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{ box-shadow:10px 10px 50px red ;}
    to{ box-shadow: 10px 10px 50px yellow;}
}